apiVersion: runtime.agentic-layer.ai/v1alpha1
kind: Agent
metadata:
  name: claims-voice-agent
spec:
  image: claims_voice_agent:latest
  env:
    - name: OTEL_SERVICE_NAME
      value: claims-voice-agent
    - name: GOOGLE_API_KEY
      valueFrom:
        secretKeyRef:
          name: api-key-secrets
          key: GEMINI_API_KEY
