apiVersion: runtime.agentic-layer.ai/v1alpha1
kind: Agent
metadata:
  name: claims-voice-agent
spec:
  framework: google-adk
  image: claims-voice-agent:latest
  env:
    - name: LOGLEVEL
      value: "INFO"
    - name: OTEL_SERVICE_NAME
      value: claims-voice-agent
    - name: AGENT_OTEL_ENABLED
      value: "true"
    - name: GOOGLE_API_KEY
      valueFrom:
        secretKeyRef:
          name: api-key-secrets
          key: GEMINI_API_KEY
    # Use env variable instead of subagent because of problems with audio <--> non-audio A2A communications with subagents
    - name: CLAIMS_ANALYSIS_AGENT_URL
      value: http://claims-analysis-agent:8000
  envFrom:
    - configMapRef:
        name: otel-tempo-config
        optional: true
