[project]
name = "base"
version = "0.1.0"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "agentic-layer-sdk-adk>=0.3.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
