#
# GitHub Action: Push
#
# This workflow automates the building and publishing of Docker images for
# ADK agents and MCP servers to Google Cloud Artifact Registry when code
# is pushed to the main branch.
#
name: Push

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]

env:
  REGISTRY: ghcr.io

jobs:
  publish-images:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    strategy:
      fail-fast: false # Ensures that if one build fails, the others will still run
      matrix:
        include:
          - image_name: claims_voice_agent
            context: agents/claims_voice_agent
          - image_name: customer_database
            context: mcp-servers/customer_database
          - image_name: showcase-claims-frontend
            context: frontend

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v5'
        with:
          fetch-depth: 0 # required to fetch all history for all branches and tags

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Authenticate to Google Cloud'
        id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: 'qaware-paal'
          workload_identity_provider: 'projects/387309373030/locations/global/workloadIdentityPools/github-actions-identity-pool/providers/github-actions-provider'
          service_account: 'sa-github-actions@qaware-paal.iam.gserviceaccount.com'

      - name: 'Configure Docker for Artifact Registry'
        run: gcloud auth configure-docker europe-west3-docker.pkg.dev

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ matrix.image_name }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable={{is_default_branch}}

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
